        <%if(ag&&ag.Mobile==true){%>
        <link rel="stylesheet" type="text/css" href="../editorMobile/wangEditor-mobile.min.css">
        <%}else{%>
        <link rel="stylesheet" type="text/css" href="../editor/wangEditor.min.css">
        <%}%>
        <link rel="stylesheet" type="text/css" href="../stylesheets/posts.css">
        <title>Posting</title>