        <link rel="stylesheet" type="text/css" href="../stylesheets/posts.css">
        <link rel="stylesheet" type="text/css" href="../stylesheets/post_detail.css">
        <title>Post_Detail</title>